@use "./var" as v;
@use "sass:color";

@mixin flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin flex-column-center {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

@mixin buttonS($bg: v.$main-color, $color: white) {
  background-color: $bg;
  color: $color;
  padding: 8px 16px;
  border: none;
  cursor: pointer;
  transition: all 0.3s linear;
  &:hover {
    background-color: color.adjust-color($bg, $lightness: -10%);
  }
}

@mixin respond($bp) {
  @media (max-width: #{$bp}px) {
    @content;
  }
}

@mixin card {
  background-color: white;
  border-radius: v.$radius;
  box-shadow: v.$shadow-soft;
  overflow: hidden;
  transition: all 0.3s linear;
  &:hover {
    transform: translateY(-3px);
    box-shadow: v.$shadow-hard;
    img{
      transform: scale(1.1);
    }
  }
  img {
    transition: transform 0.4s ease
  }
}
