@use "../assets/scss/var" as v;
@use "../assets/scss/mixin" as m;
@use "sass:color";
.weather{
  width: 100%;
  margin-top: 150px;

  .info{
    width: 500px;
    height: 450px;
    margin: 200px auto;
    text-align: center;
    background-color: skyblue;
    position: relative;
    z-index: 2;


   
  }
  .datas{
   border: 2px dashed greenyellow;
   background-color: color.adjust(skyblue, $lightness: 20%);
  }
  .circle{
    width: 35px;
    height: 35px;
    background-color: darkblue;
    margin: 3px auto;
    border-radius: 50%;
  }
}
.map {
  width: 1000px;
  height: 500px;
  margin: 100px auto;
  border: 5px dashed greenyellow;
  position: relative;
}
