// 기초 초기 세팅 *의 역할 모든 컴포넌트에 동일하게 적용
@use "./assets/scss/var" as v;
@use "./assets/scss/mixin" as m;

html,
body {
  margin: 0;
  padding: 0;
  font-family: Arial, "Noto SansKR", sans-serif;
  background-color: white;
  color: #222;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
}

ul {
  list-style: none;
}

#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
